[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Html Assistant
Comment=Static websites helper
Exec=python3 Html-Assistant.py
Icon=/home/jan/Documents/Python/html_assistant/master/source/icons/HAIcon2.png
Terminal=false
Path=Documents/Python/html_assistant/master/source
